@{
    ViewData["Title"] = "Index";
}

@section Scripts {

    <script src="~/lib/microsoft/signalr/dist/browser/signalr.min.js"></script>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <script type="text/javascript">
                    $(document).ready(() => {
                        var connection = new signalR.HubConnectionBuilder().withUrl("https://localhost:7285/signalrhub").build();
                        $("#constatus").text(connection.state);
                        connection.start().then(() => {
                            $("#constatus").text(connection.state);
                            setInterval(() => {
                            connection.invoke("TotalDeliveryCount");
                            connection.invoke("TotalDeliveryCountStatusByOnWay");
                            connection.invoke("TotalDeliveryCountStatusByGettingReady");
                            }, 1000);
                        }).catch((err) => { console.log(err) });
                        connection.on("ReciveTotalDeliveryCount", (value) => {
                            $("#txttotaldeliverycount").text(value);
                        });
                        connection.on("ReciveTotalDeliveryCountStatusByOnWay", (value) => {
                            $("#txtrecivetotaldeliverycountstatusbyonway").text(value);
                        });
                        connection.on("ReciveTotalDeliveryCountStatusByGettingReady", (value) => {
                            $("#txtrecivetotaldeliverycountstatusbygettingready").text(value);
                        });
                        connection.on("ReciveTotalDeliveryCountStatusByDelivered", (value) => {
                            $("#txtrecivetotaldeliverycountstatusbydelivered").text(value);
                        });
                    });
                </script>
            </div>
        </div>
    </div>
}
<div class="alert alert-primary">Bağlantının Durumu: <strong id="constatus"></strong></div>
<div class="alert alert-warning">Toplam Sipariş Sayısı: <strong id="txttotaldeliverycount"></strong></div>
<div class="alert alert-info">Yoldaki Sipariş Sayısı: <strong id="txtrecivetotaldeliverycountstatusbyonway"></strong></div>
<div class="alert alert-danger">Hazırlanan Sipariş: <strong id="txtrecivetotaldeliverycountstatusbygettingready"></strong></div>
<div class="alert alert-dark">Teslim Edilen Sipariş: <strong id="txtrecivetotaldeliverycountstatusbydelivered"></strong></div>